<center>
<font size='7' style="color:#0D47A1">  <b>PREPROCESSING</b> </font>
</center>

<hr style= "height:3px;">
<br>

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('preprocessing.csv')

In [3]:
dataset

         State  Age  Salary  Savings
0        Texas   25   41000     5000
1      Florida   55  125000    41000
2   California   44   85000    11000
3      Florida   34   56000    10000
4   California   27   70000     9500
5        Texas   31   90000    12000
6      Florida   31   55000    13000
7        Texas   29   58000    55000
8   California   31   70000     5000
9        Texas   47   80000     7000
10     Florida   41   65000     8000
11     Florida   41   90000    25000
12       Texas   48  125000    20000
13  California   52  225000   100000
14  California   30  125000     8000
15  California   38  140000    14000
16       Texas   48   77000     7000
17     Florida   59   65000    14000
18  California   37   67000     6000
19     Florida   43   72000    15500
20  California   51   85000    15000
21       Texas   46   75000     9000
22  California   28   42000     2000
23       Texas   40   98000    10000
24     Florida   34   78000     8000
25       Texas   45   54000     4000
26     Florida   35   55000    13000
27       Texas   39   93000    12000
28  California   36  108000    11000
29     Florida   55  150000    50000

In [4]:
X = dataset.iloc[:, :-1].values

In [5]:
X

array([['Texas', 25, 41000],
       ['Florida', 55, 125000],
       ['California', 44, 85000],
       ['Florida', 34, 56000],
       ['California', 27, 70000],
       ['Texas', 31, 90000],
       ['Florida', 31, 55000],
       ['Texas', 29, 58000],
       ['California', 31, 70000],
       ['Texas', 47, 80000],
       ['Florida', 41, 65000],
       ['Florida', 41, 90000],
       ['Texas', 48, 125000],
       ['California', 52, 225000],
       ['California', 30, 125000],
       ['California', 38, 140000],
       ['Texas', 48, 77000],
       ['Florida', 59, 65000],
       ['California', 37, 67000],
       ['Florida', 43, 72000],
       ['California', 51, 85000],
       ['Texas', 46, 75000],
       ['California', 28, 42000],
       ['Texas', 40, 98000],
       ['Florida', 34, 78000],
       ['Texas', 45, 54000],
       ['Florida', 35, 55000],
       ['Texas', 39, 93000],
       ['California', 36, 108000],
       ['Florida', 55, 150000]], dtype=object)

In [6]:
y = dataset.iloc[:,3].values
y

array([  5000,  41000,  11000,  10000,   9500,  12000,  13000,  55000,
         5000,   7000,   8000,  25000,  20000, 100000,   8000,  14000,
         7000,  14000,   6000,  15500,  15000,   9000,   2000,  10000,
         8000,   4000,  13000,  12000,  11000,  50000])

<br>
<font size='6' style="color:#00A6D6">  <b>Using Scikitlearn to Preprocess the data</b> </font>

In [7]:
from sklearn.preprocessing import Imputer

In [8]:
# Here we create the object that will take care of all missing values 
# by replacing them with the mean of all values.

imputer = Imputer(missing_values= 'NaN', strategy='mean', axis=0)

In [9]:
imputer = imputer.fit(X[ : , 1:2])

In [10]:
X[ : , 1:2] = imputer.transform(X[ : , 1:2])

In [11]:
X

array([['Texas', 25.0, 41000],
       ['Florida', 55.0, 125000],
       ['California', 44.0, 85000],
       ['Florida', 34.0, 56000],
       ['California', 27.0, 70000],
       ['Texas', 31.0, 90000],
       ['Florida', 31.0, 55000],
       ['Texas', 29.0, 58000],
       ['California', 31.0, 70000],
       ['Texas', 47.0, 80000],
       ['Florida', 41.0, 65000],
       ['Florida', 41.0, 90000],
       ['Texas', 48.0, 125000],
       ['California', 52.0, 225000],
       ['California', 30.0, 125000],
       ['California', 38.0, 140000],
       ['Texas', 48.0, 77000],
       ['Florida', 59.0, 65000],
       ['California', 37.0, 67000],
       ['Florida', 43.0, 72000],
       ['California', 51.0, 85000],
       ['Texas', 46.0, 75000],
       ['California', 28.0, 42000],
       ['Texas', 40.0, 98000],
       ['Florida', 34.0, 78000],
       ['Texas', 45.0, 54000],
       ['Florida', 35.0, 55000],
       ['Texas', 39.0, 93000],
       ['California', 36.0, 108000],
       ['Florida', 55.0, 150000]], dtype=object)

<br>
<font size='6' style="color:#00A6D6">  <b>Categorical Data</b> </font>

In this section we will take a look at two different approaches to deal with categorical data: Label Encoder and One Hot Encoder. Take a look at the following post:

 * https://machinelearningmastery.com/how-to-one-hot-encode-sequence-data-in-python/-

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [26]:
labelencoder_X = LabelEncoder()

In [27]:
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])
X

array([[2, 25.0, 41000.0],
       [1, 55.0, 125000.0],
       [0, 44.0, 85000.0],
       [1, 34.0, 56000.0],
       [0, 27.0, 70000.0],
       [2, 31.0, 90000.0],
       [1, 31.0, 55000.0],
       [2, 29.0, 58000.0],
       [0, 31.0, 70000.0],
       [2, 47.0, 80000.0],
       [1, 41.0, 65000.0],
       [1, 41.0, 90000.0],
       [2, 48.0, 125000.0],
       [0, 52.0, 225000.0],
       [0, 30.0, 125000.0],
       [0, 38.0, 140000.0],
       [2, 48.0, 77000.0],
       [1, 59.0, 65000.0],
       [0, 37.0, 67000.0],
       [1, 43.0, 72000.0],
       [0, 51.0, 85000.0],
       [2, 46.0, 75000.0],
       [0, 28.0, 42000.0],
       [2, 40.0, 98000.0],
       [1, 34.0, 78000.0],
       [2, 45.0, 54000.0],
       [1, 35.0, 55000.0],
       [2, 39.0, 93000.0],
       [0, 36.0, 108000.0],
       [1, 55.0, 150000.0]], dtype=object)

In [28]:
onehotencoder = OneHotEncoder(categorical_features= [0])

In [29]:
X = onehotencoder.fit_transform(X).toarray()

In [30]:
X

array([[0.00e+00, 0.00e+00, 1.00e+00, 2.50e+01, 4.10e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.50e+01, 1.25e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 4.40e+01, 8.50e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.40e+01, 5.60e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.70e+01, 7.00e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 3.10e+01, 9.00e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.10e+01, 5.50e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 2.90e+01, 5.80e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.10e+01, 7.00e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.70e+01, 8.00e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.10e+01, 6.50e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.10e+01, 9.00e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.80e+01, 1.25e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.20e+01, 2.25e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.00e+01, 1.25e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.80e+01, 1.40e+05],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.80e+01, 7.70e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.90e+01, 6.50e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.70e+01, 6.70e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.30e+01, 7.20e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.10e+01, 8.50e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.60e+01, 7.50e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.80e+01, 4.20e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.00e+01, 9.80e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.40e+01, 7.80e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 4.50e+01, 5.40e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.50e+01, 5.50e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 3.90e+01, 9.30e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.60e+01, 1.08e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.50e+01, 1.50e+05]])

<br>
<font size='6' style="color:#00A6D6">  <b>Splitting the dataset</b> </font>

In [31]:
# Scikitlearn can split the dataset into the training and test parts for us. 
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 1/3, random_state= 0)

In [33]:
X_test

array([[1.00e+00, 0.00e+00, 0.00e+00, 4.40e+01, 8.50e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.60e+01, 1.08e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.20e+01, 2.25e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.10e+01, 6.50e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.50e+01, 5.50e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.40e+01, 7.80e+04],
       [0.00e+00, 0.00e+00, 1.00e+00, 3.90e+01, 9.30e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.10e+01, 9.00e+04],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.90e+01, 6.50e+04],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.80e+01, 4.20e+04]])

<br>
<font size='6' style="color:#00A6D6">  <b>Feature Scaling</b> </font>

The machine learning algorithms used here, are gonna try to find the most optimal linear combination of features to make predictions; however, some features may have more weight simply because their numerical values are way bigger than other ones. In order to solve this bias, we can scale our features. For more information read the following post: 

 * https://medium.com/greyatom/why-how-and-when-to-scale-your-features-4b30ab09db5e

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
sc_x = StandardScaler()

In [36]:
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)

In [37]:
X_train

array([[-0.65465367, -0.57735027,  1.1055416 , -0.9217157 ,  0.14212897],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.9109354 , -0.28262428],
       [ 1.52752523, -0.57735027, -0.90453403, -0.9217157 , -0.51133757],
       [ 1.52752523, -0.57735027, -0.90453403, -1.02951871,  1.28569543],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.04851135,  0.40351559],
       [ 1.52752523, -0.57735027, -0.90453403,  1.23434442, -0.02123766],
       [-0.65465367,  1.73205081, -0.90453403,  1.66555644,  1.28569543],
       [-0.65465367,  1.73205081, -0.90453403,  1.66555644,  2.10252862],
       [-0.65465367,  1.73205081, -0.90453403, -0.9217157 , -1.00143749],
       [ 1.52752523, -0.57735027, -0.90453403, -1.35292773, -0.51133757],
       [ 1.52752523, -0.57735027, -0.90453403, -0.27489767, -0.60935756],
       [-0.65465367,  1.73205081, -0.90453403,  0.37192037, -0.44599092],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.8031324 , -0.1846043 ],
       [-0.65465367, -0.57735027,  1.1055416 , -1.13732171, -0.9034175 ],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.58752638, -1.03411081],
       [-0.65465367,  1.73205081, -0.90453403, -0.59830668, -0.96876416],
       [-0.65465367, -0.57735027,  1.1055416 , -1.56853374, -1.45886407],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.69532939, -0.34797094],
       [ 1.52752523, -0.57735027, -0.90453403, -0.16709466,  1.77579535],
       [-0.65465367, -0.57735027,  1.1055416 ,  0.9109354 ,  1.28569543]])